{% extends 'main.html.twig' %}
{% block main_class %}main-panier{% endblock %}
{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="cage mx-auto my-5">
        <h2 class="text-center mb-4">Mon panier</h2>

        <div class="mb-3 text-start">
            <a href="{{ path('app.panier.vider') }}"
               class="text-muted"
               data-confirm="Confirmez-vous la suppression de votre Panier ?">
                X Vider le panier
            </a>
        </div>

        {% if lignesPanier is empty %}
            <div class="text-center py-5">
                <p>Votre panier est vide.</p>
            </div>
        {% else %}
            {% for ligne in lignesPanier %}
                <div class="lignepanier d-flex align-items-start mb-4">
                    <img src="{{ asset('img/produits/' ~ ligne.produit.imageProduit) }}"
                         alt="{{ ligne.produit.nom }}"
                         style="height:142px; width:132px; padding-right:35px; object-fit:cover;">

                    <div class="d-flex flex-column justify-content-start">
                        <h4 class="mb-2">{{ ligne.produit.nom }}</h4>
                        <div class="text-muted mb-1">Quantité : {{ ligne.quantite }}</div>
                        <div class="fw-bold">{{ ligne.produit.prix|number_format(2, ',', ' ') }} €</div>
                    </div>
                </div>
            {% endfor %}
            <div class="panierfooter text-end mt-5">
                <p class="mb-1"><strong>Total du panier :</strong> {{ total|number_format(2, ',', ' ') }} €</p>
                <p class="text-muted">Frais de livraison : Offert</p>
            </div>
            <a href="{{ path('app.panier.valider') }}" class="btn-panier-valider mt-4">
                Valider la commande
            </a>

        {% endif %}
    </div>
{% endblock %}
